@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-blue: #35c0fb;
  --color-green: #23c552;
  --color-pink: #ff5e73;
  --color-purple: #9c70ff;
  --color-red: #ff4f4b;
}
